body{
  background-image:url("../images/img1.jpg");
}
.body1{
}
h1{
  color: purple;
  text-align: center;
}
.p1{
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  color: red;
}
h2{
  text-align: center;
  color: purple;
}
.p2{
  font-size: 20px;
  color: red;
  text-align: center;}
