body {
  background-image: url("../images/img1.jpg");
}

.body1 {
  border: solid grey 2px;
  background-color: grey;
}
.p{
  text-align: center;
}

h1 {
  text-decoration: underline;
  text-underline-position: auto;
  color: purple;
  text-align: center;
}

.p1 {
  border: solid grey 10px;
  background-color: grey;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  color: black;
}

h2 {
  text-decoration: underline;
  text-align: center;
  color: purple;
}

.p2 {
  border: solid grey 10px;
  background-color: grey;
  font-size: 20px;
  color: black;
  text-align: center;
}

.body2 {
  background-color: grey;
  text-align: center;
}

.p3 {
  font-size: 30px;
}
input{
  font-size: 20px;
}
